@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Montserrat:wght@700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

$mainYellow: #FF9F1C;
$mainRed: #FF4040;
$mainGreen: #2EC4B6;
$mainDark: #0A1014;
$mainGrey: #1B2329;
$midGrey: #353F4C;
$lightGrey: #7A8C99;
$mainWhite: #fff;
$mainFont: 'Poppins',
sans-serif;

:root {
    --hightlight: $mainYellow;
    --accent: $mainRed;
    --active: $mainGreen;
    --default: $mainWhite;
}

body {
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-family: "Poppins",
        sans-serif;
    font-weight: 400;
    letter-spacing: 0.15px;
    color: $mainDark;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    background-color: $mainDark;
    min-height: 100vh;
}

a.linkTo__favs {
    text-decoration: none;
    color: $mainWhite;
    cursor: pointer;
    font-size: 1.2em;
    display: inline-flex;

    &:after {
        content: url("../assets/1.Icons/icon-heart-full.svg");
        margin-inline-start: 0.2rem;
    }

    &:hover {
        color: $mainYellow;
    }
}

.logo {
    padding-left: 0.4rem;
    margin: 0.5rem 0;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;

    &:after {
        content: url("../assets/2.Logos/logo.svg");
    }
}

.error__wrapper,
.loading__wrapper {
    margin: 0 auto;
    padding: 1rem;
    color: $midGrey;

    h3 {
        letter-spacing: 0.2rem;
    }
}

h1 {
    font-family: "Poppins",
        sans-serif;
    font-weight: 700;
    font-size: 70pt;
    letter-spacing: 0.8px;
    line-height: 70px;
    text-transform: capitalize;
    color: $mainWhite;
}

h2 {
    font-family: "Poppins",
        sans-serif;
    font-weight: 500;
    font-size: 35pt;
    letter-spacing: 0.5px;
    line-height: 32px;
    color: $lightGrey;
}

h3 {
    font-family: "Poppins",
        sans-serif;
    font-weight: 500;
    font-size: 24pt;
    letter-spacing: 0.8px;
    line-height: 26px;
    color: $lightGrey;
}

button {
    padding: 12px 16px 12px 12px;
    outline: none;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 50pt;
        line-height: 55px;
    }

    h3 {
        line-height: 20px;
    }
}