.home__wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    position: relative;

    .home__inner {
        padding: 1rem 0.5rem;
        margin-top: 1rem;

        .search__wrapper {
            width: 100%;
            margin: 1rem auto;

            form {
                display: flex;
                align-items: baseline;
                justify-content: space-between;

                input {
                    height: 45px;
                    width: 100%;
                    text-align: left;
                    border: 0.5px solid $mainGrey;
                    outline: none;
                    padding-left: 45px;
                    background-image: url("../assets/1.Icons/icon-magnifier-grey.svg");
                    background-size: 18px 18px;
                    background-repeat: no-repeat;
                    background-position: 12px 0.8rem;
                    margin-top: auto;

                    &:before {
                        content: url("../assets/1.Icons/icon-magnifier-grey.svg");
                    }

                    &::placeholder {
                        font-size: 1.3em;
                        letter-spacing: 3px;
                        font-family: $mainFont;
                        font-weight: 500;
                    }
                }

                div#search-clear,
                input[type="search"]::-webkit-search-cancel-button {
                    display: none;
                }
            }
        }

        .movies__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            // padding: 0.5rem 1rem;

            a.movies__card {
                box-shadow: 0.05em .125em .125em rgba(0, 0, 0, .1);
                position: relative;
                margin-inline-end: 0.8rem;
                margin-block-end: 0.4rem;

                figure {
                    max-width: 185px;
                    padding: 0;
                    margin: 0;
                    position: relative;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 0.3rem;
                    }

                    .img__holder {
                        border-radius: 0.3rem;
                        // border: 1px solid #d7d7d7;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }
            }
        }
    }
}