.movie__wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem;

    .back__arrow {
        margin-top: 1rem;
        color: $lightGrey;

        &:after {
            content: url("../assets/1.Icons/icon-arrow-grey.svg");
        }
    }

    .inner__wrapper {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        background-color: $mainDark;
        padding: 0.5rem;

        .movie__info_left {
            flex: 1;
            margin-left: auto;
            color: $mainWhite;
            margin-inline-end: 0.5rem;

            // .btn__row,
            // .text__content,
            // h1,
            // .misc__info {
            //     margin-inline-start: 0.5rem;
            // }

            .misc__info {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                label {
                    background-color: $lightGrey;
                    color: $mainDark;
                    padding: 4px 6px;
                }

                span {
                    color: $lightGrey;

                    &::after {
                        content: ".";
                        margin-inline-end: 1rem;
                    }
                }
            }

            .btn__row {
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                label,
                button {
                    border-radius: 0.3rem;
                    outline: none;
                    cursor: pointer;
                }

                .imdb__svg,
                .rottenTomato__svg {
                    display: inline-flex;
                    align-items: center;
                    background-color: $mainDark;
                    color: $mainWhite;
                    border: 1px solid $midGrey;
                    margin-inline-end: 0.5rem;
                }

                .imdb__svg {
                    &:before {
                        content: url("../assets/2.Logos/logo-imdb.svg");
                        padding: 12px;
                        background-color: $mainYellow;
                        margin-inline-end: 0.4rem;
                    }
                }

                .rottenTomato__svg {
                    &:before {
                        content: url("../assets/2.Logos/logo-rotten-tomatoes.svg");
                        padding: 12px;
                        background-color: $mainRed;
                        margin-inline-end: 0.4rem;
                    }
                }

                .heart__svg {
                    display: inline-flex;
                    align-items: center;
                    color: $lightGrey;
                    background-color: $mainDark;
                    border: 1px solid $midGrey;

                    &:before {
                        content: url("../assets/1.Icons/icon-heart-grey.svg");
                        margin-inline-end: 0.4rem;
                    }
                }

                .active {
                    display: inline-flex;
                    align-items: center;
                    background-color: $mainRed;
                    color: $mainWhite;
                    border: 1px solid $midGrey;
                    outline: none;
                    text-transform: uppercase;

                    &:before {
                        content: url("../assets/1.Icons/icon-heart-full.svg");
                        margin-inline-end: 0.4rem;
                    }
                }
            }

            .text__content {
                text-align: justify;
                line-height: 22px;
                max-width: fit-content;
            }

            .castncrew__wrapper {
                display: flex;
                flex-wrap: wrap;
                // padding: 0.5rem;

                .genre,
                .cast,
                .director {
                    flex: 1;

                    li {
                        list-style: none;
                        line-height: 20px;
                    }
                }
            }
        }

        .movie__info_right {
            flex-basis: 40%;
            margin-left: auto;
            padding: 0.5rem;
            margin-top: 1rem;
            // margin: 0.8rem 0 0;
            // margin: 0 auto;

            figure {
                padding: 0;
                margin: 0;
                // max-width: 400px;

                img {
                    border-radius: 0.3rem;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .inner__wrapper {
            display: block;


            .imdb__svg,
            .rottenTomato__svg {
                margin-block-end: 0.5rem;
            }
        }
    }
}